# API CONFIG
API_PORT=''

# TOKEN CONFIG
API_TOKEN_CUSTOMER_SECRET     = ''
API_TOKEN_CUSTOMER_EXPIRATION = ''

# LOGIN CONFIG
LOGIN_API_URL     = ''
LOGIN_API_SECRET  = ''

#DB CONFIG
DB_HOST             = ''
DB_USER             = ''
DB_PASSWORD         = ''
DB_PORT             = ''
DB_NAME             = ''
DB_CONNECTION_LIMIT = ''
DB_QUEUE_LIMIT      = ''

# MCLEOD API
MCLEOD_API_URL   = ''
MCLEOD_API_TOKEN = ''
MCLEOD_API_USER  = ''
MCLEOD_API_PASS  = ''

# CRON CONFIG
CRON_TIMEZONE            = ''

# CROSSINGS CONFIG
CROSSINGS_CRON_ENABLED   = ''
CROSSINGS_CRON_SCHEDULE  = ''
CROSSINGS_MCLEOD_COMPANY = ''
CROSSINGS_LOOKBACK_HOURS = ''

NOTIFICATIONS_CRON_ENABLED = ''
